/****************************************************
                      FONTS
*****************************************************/

/****************************************************
                      GLOBAL
*****************************************************/
body{
    margin: 0;
}

header, main{
    margin: 0 auto;
}

.clear{
    clear: both;
}

a{
    text-decoration: none;
    color:black;
}

/****************************************************
                       HEADER
*****************************************************/
 
    
/****************************************************
                       MEAN
*****************************************************/

/****************************************************
                       FOOTER
*****************************************************/
  

    
/****************************************************
                        TABLET
*****************************************************/
@media screen and (min-width:768px) {
/****************************************************
                        HEADER
*****************************************************/
    
    
/****************************************************
                        MEAN
*****************************************************/
    

/****************************************************
                        FOOTER
*****************************************************/
}
    
/****************************************************
                        DESKTOP
*****************************************************/
@media screen and (min-width:1024px) {
/****************************************************
                        HEADER
*****************************************************/
 
/****************************************************
                        MEAN
*****************************************************/

/****************************************************
                        FOOTER
*****************************************************/
}    
